@font-face {
  font-family: 'Proxima Nova Soft';
  src: url('../fonts/ProximaNovaSoft-Regular.otf');
}

*{
  font-family: 'Proxima Nova Soft';
  font-size: 14px;
  font-weight: 600;
}

html{
  background-color: #eee;
}
a{
  text-decoration: none;
}

.white{
  color: #fff;
}

.f-18{
  font-size: 18px;
  font-weight: bold;
}

.f-36{
  font-size: 36px;
  font-weight: 600;
}

.f-48{
  font-size: 48px;
  font-weight: bold;
}

.margin-30{
  margin: 30px 0;
}

.btn1{
    padding: 10px 50px;
    font-size: 18px;
    line-height: 28px;
    border-radius: 999px;
}

section{
  width: 100%;
  padding: 40px 20px;
}
/** section introduction**/
#introduction{
  padding: 120px 0 200px 0;
  background-position: right bottom;
}

/** section icon-introduction**/
.icons-introduction{
  position: relative;
  min-height: 100%;
  height: 100%;
  width: 96%;
}

.icon {
  position: absolute;
  display: inline-block;
  background-size: contain;
  bottom: -50px;
}

.icon--hero {
  width: 100%;
  height: 480px;
  background-position: center center;
  background-size: cover;
}

.icon--hero-bench {
    width: 148px;
    height: 66px;
    right: 0;
}

.icon--hero-park {
    width: 260px;
    height: 316px;
}

/** section how-work**/
.how-work{
  position: relative;
  margin-top: 100px;
  background-color: #F9F9F9;
}

.circle{
  position: relative;
  background-color: #FFCC66;
  border-radius: 100%;
  width: 225px;
  height: 225px;
}

.icon-circle{
  position: absolute;
  width: 175px;
  height: 175px;
  margin: auto;
  top: 0; bottom: 0; left:0; right:  0;
  background-position: center;
}

.gray{
  color: #494949;
}

.m-bottom-70{
  margin-bottom: 70px;
}

/** section promise**/
.m-bottom-30{
  margin-bottom: 30px;
}

.pointer{
  cursor: pointer;
}

.icon2{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: contain;
  vertical-align: middle;
}

.head-panel{
  display: inline-block;
  vertical-align: middle;
  color: #6EA43F;
  font-weight: bold;
}

.icon-sm{
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
}

.relative{
  position: relative;
}

/** seccion commmunity**/
#community{
  background-color: #75B9E7;
  color: white;
}

.avatar{
  width: 100px;
  height: 100px;
  margin: 40px auto 0 auto;
  background: url("../img/testimonials.jpg");
  background-size: cover;
  border-radius: 75%;
  z-index: 100;
}

.avatar-foto2{
  background-position: bottom;
}

.avatar-foto3{
  background-position: center;
}

.icon-rating{
  background-size: cover;
  display: block;
  margin: auto;
  width: 120px;
  height: 30px;
}

/*section photos */
#photos{
  padding: 50px;
  background: linear-gradient(to bottom, #75B9E7 0%,#75B9E7 50%,#75B9E7 50%,#3498DB 50%,#3498DB 100%); /* W3C */
}

.bg-photo{
  width: 200px;
  height:200px;
  z-index: 0;
  background-size: cover;
  margin: auto;
}

.bg-1{
  background-image: url("../img/exit-cleaner.jpg");
  transform: rotateZ(13deg);
}

.bg-2{
  background-image: url("../img/oven-cleaner.jpg");
  transform: rotateZ(-15deg);
}

.bg-3{
  background-image: url("../img/window-cleaner.jpg");
  transform: rotateZ(-15deg);
}

.photo5{
  width: 200px;
  height:200px;
  transform:rotateZ(15deg);
  z-index: 10;
}

.photo6{
  width: 200px;
  height:200px;
  transform:rotateZ(-12deg);
  z-index: 100;
}

.photo7{
  width: 200px;
  height:200px;
  transform:rotateZ(20deg);
  z-index: 110;
}

.photo8{
  width: 200px;
  height:200px;
  transform:rotateZ(19deg);
  z-index: 120;
}

.photo5:hover, .photo6:hover, .photo7:hover,.photo8:hover {
  transition: 0.6s;
  transform:rotateZ(10deg);
}

/** section checklist**/
#checklist{
  background-color: #3498DB;
  color: white;
}

.checklists{
  margin: 10px;
}

.bg-white{
  background-color: white;
  color: #494949;
}

.title-check{
  padding: 15px 10px;
}

p, h2{
  padding: 0;
  margin: 0;
}

ul{
  list-style: none;
  padding: 0;
}

ul > li{
  border-top: 1px solid #eee;
}

ul > li > span{
  padding: 20px 0;
  border-color: #ECBBB6;
  border-left-style: double;
}

ul > li > span {
  padding: 20px;
}

ul > li > img {
  padding: 18px;
}

/** section quote**/
#quote{
  background-color: #EEEEEE;
}

.blue-light{
  color: #3498DB;
}

.p-row{
  padding: 40px 0;
  border-bottom: 1px solid lightgrey;
}

.sub{
  border-bottom: 1px solid lightgrey;
  padding: 10px 0;
}

input[type=checkbox] {
  -webkit-appearance: none;
}

.square{
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #FFF;
  color: green;
}

input[type="checkbox"]:checked {
    background:url("../img/tick.svg") center no-repeat;
    background-size: cover;
}

.p-r{
  padding: 10px 0 10px 60px;
  font-size: 16px;
}
